doctype html
html
  head
    title Random Thing Picker
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel='stylesheet', href='/stylesheets/layout.css')
    script(type='text/javascript', src='/javascripts/lib/vue.min.js')
  body
    block content
