// Fonts
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');
$font_roboto: 'Roboto', sans-serif;

// Colors
$black: #111111;
$white: #ffffff;
$grey: #efefef;
$grey_dark1: #999999;
$grey_dark2: #666666;
$grey_dark3: #333333;
$green: #4CAF50;
$blue:#2196F3;